<div class="container">
  <form action="/entries" method="post">
    <label for="">
      Add a new entry
      <input type="submit" value="Add entry">
    </label>
  </form>

  <ul>
    <% @result.each do |entry| %>
    <li>
      <a href="/entries/<%= entry.id %>">
        <%= entry.title %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
