<form id="add_entry" action="/entry" method="post">
  <textarea name="add_entry" placeholder="Write to your diary..." rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Submit">
</form>
